aiofiles==25.1.0
aiosqlite==0.22.1
altgraph==0.17.5
anyio==4.13.0
certifi==2026.2.25
charset-normalizer==3.4.7
Cython==3.2.4
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
lru-dict==1.4.1
numpy==2.4.4
opencv-python-headless==4.13.0.92
packaging==26.1
pillow==12.2.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
requests==2.33.1
setuptools==82.0.1
urllib3==2.6.3
